<div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">Como que você chegou aqui cara??</p>
        <p class="title">Parabéns! Tu alcançou o 404 NOT FOUND que eu fiz!</p>
        <div class="container">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <iframe width="400" height="315" src="https://www.youtube.com/embed/-MK1q9fZjeI?controls=0?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
                </div>
                <p class="title">Se tu chegou aqui é porque tu é BURRO! =D! #brinks</p>
            </div>
        </div>
    </div>
</div>