<nav class="navbar" role="navigation" aria-label="main nav">
    <div class="nav-brand">
        <a class="navbar-item" href="/">
        <img src="">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">Página Inicial</a>
            <a class="navbar-item">item 2</a>
            <a class="navbar-item">item 3</a>
        </div>
        <div class="navbar-end">
            <div class="buttons">
                <a class="button">
                    Cadastrar
                </a>
                <a class="button">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</nav>
<p class="has-text-primary">topbar works!</p>