<div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main nav">
        <div class="container">
            <div class="nav-brand">
                <a class="navbar-item" href="/">
                <img src="">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="resposiveNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="resposiveNavbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" *ngIf="isLoggedIn" routerLink="">SAT Music</a>
                    <a class="navbar-item" *ngIf="!isLoggedIn" routerLink="/register">Cadastrar</a>
                </div>
                <div class="navbar-end">
                    <div class="buttons">
                        
                        <a class="is-danger button" (click)="logOut()" *ngIf="isLoggedIn">
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
</div>