<section>
    <div class="container">
        <div class="box">
            <div class="container">
                
                <div class="columns">
                    <div class="column is-3">
                        <label class="label">Nome da Música</label>
                        <div class="control">
                            <input id="name" class="input" type="text" placeholder="What is love?" [(ngModel)]="music.name">
                            <div *ngIf="">
                                <div style="color: red" *ngIf="">Tu vai deixar isso aqui em branco porquê mesmo?</div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <label class="label">Cantor ou Banda:</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Haddaway" [(ngModel)]="music.bandOrSinger">
                        </div>
                    </div>
                    <div class="column is-3">
                        <label class="label">Ano da música:</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="1990" [(ngModel)]="music.year">
                        </div>
                    </div>
                    <div class="column is-3">
                        <label class="label">Álbum</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="What is love?" [(ngModel)]="music.album">
                        </div>
                    </div>
                </div>
                <div class="column is-4 is-offset-4 has-text-centered">
                    <p>Escolheu sua melhor música?</p>
                    <span>Agride o botão abaixo para inseri-la!</span>
                    <div class="buttons">
                        <button type="submit" class="button is-sat-primary is-fullwidth is-block" id="btnSendMusic" (click)="sendMusic()">
                            <i class="fas fa-file-import"></i> Enviar!
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <hr>
                <div *ngIf="submitErrors?.length > 0" class="notification is-sat-secondary">
                    <p class="has-text-centered is-fullwidth" *ngFor="let error of submitErrors">
                        {{error}}
                    </p>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nome da Música</th>
                            <th>Cantor ou Banda</th>
                            <th>Ano da Música</th>
                            <th>Álbum</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                <tr class="" *ngFor="let music of musics; let id = index">
                    <td 
                        (keyup)="changeValue(id, 'name', $event)" 
                        (blur)="updateList(id, 'name', $event)" 
                        contenteditable="true">{{music.name}}</td>
                    <td  
                        (keyup)="changeValue(id, 'bandOrSinger', $event)" 
                        (blur)="updateList(id, 'bandOrSinger', $event)" 
                        contenteditable="true">{{music.bandOrSinger}}</td>
                    <td  
                        (keyup)="changeValue(id, 'year', $event)" 
                        (blur)="updateList(id, 'year', $event)" 
                        contenteditable="true">{{music.year}}</td>
                    <td  
                        (keyup)="changeValue(id, 'album', $event)" 
                        (blur)="updateList(id, 'album', $event)" 
                        contenteditable="true">{{music.album}}</td>
                    <td class="column" (click)="deleteMusic(music)"><a><i class="fas fa-trash-alt"></i></a></td>
                </tbody>
            </table>
            <hr>
        </div>
        </div>
    </div>
</section>